<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>
<body>
    <nav id="nav-bar">
        <h1>CSV UPLOADER</h1>
    </nav>
    
<div id="div-container">
    <div id="add-file-container">
    <form action="/add-file" enctype="multipart/form-data"  method="post">
        <fieldset>
            <input type="file" id="myFile" name="avatar" accept=".csv">
            <input type="submit">
        </fieldset>
    </form>
</div>
<div>
<%if(locals.files){%>
    <table>

        <% for(let i=0; i < files.length; i++)  {%>
          <tr> 
            <td> <a href="open/<%= files[i].avatar %>">
              <%= files[i].fileName %>
            </td>
           </tr> 
        <% } %>

    </table>
<%}%>
</div>
</div>

</body>

</html>