table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 3px;
    margin-left: 5%;
}
td {
    background-color: rgb(226, 239, 243);
    /* border:1px solid black; */
    border-radius: 2px;
    text-align: center;
  } 
  th{
    background-color: #7f98aa;  
    color: whitesmoke;
    /* padding-top: 8px;
    padding-bottom: 8px; */
  }
  tr{
    border:1px solid white;
    background-color: rgb(36, 32, 32);
    margin-top: 2px;
  }